<div class="row">
		  <div class="span12">
		  <ul class="thumbnails">
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li> 
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li> 
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>			
		  </ul>
		</div>
	</div>